.header{
    height: 90vh;
    background-color: black;
    display: flex;
justify-content: center;
    color: white;

}
.header>div{
    text-align: center;
    height: 70vh;
    display: flex;
    align-items: center;
}
.header>div h1{
 font-weight: 900;   
}
.header>div p{
    font-size: 25px;
    width: 50vw;
    color: bisque;
}
.get-started>button{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 2px solid white;
    font-size: 21px;
    padding: 7px 12px;
    text-transform: uppercase;
    border-radius: 5px;
    
}
.get-started>button:hover{
    background-color: #11caebb7;
    color: white;
}
